* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;;
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

.top h1 {
    font-size: 10rem;
}

.top a {
    font-size: 2rem;
    color: inherit;
    display: inline-block;
    transition: transform 0.3s;
}

a:hover {
    font-weight: 800;
    color: blueviolet;
    transform: translateY(-4px);
}

.top {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.forms {
    margin-bottom: 10rem;
}

.field {
    border: none;
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
}

.field label {
    font-size: 2rem;
}

.forms #task {
    width: 20rem;
    height: 5rem;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1rem;
    color: white;
}

.forms #task:focus-within {
    background-color: #3b0764;
    border-color: white;
}

.forms button {
    height: 48px;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#btnEnter {
    background-color: blueviolet;
    color: white;
}

#btnReset {
    background-color: #ddd;
    color: #222;
}

.myList {
    font-size: 3rem;
    margin-bottom: 10rem;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.myList li{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.btn-remove {
    gap: 5px;
    height: 48px;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ddd;
    color: #222;
}

.btn-finished {
    height: 48px;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

footer {
    text-decoration: none;
    font-size: 2rem;
    background-color: #3b0764;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

footer img {
    width: 5rem;
}